.image{


    display: flex;
    
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}


.product-card{


    border:  burlywood 2px solid;
}


.product-names{

display: flex;

flex-direction: row;

height: 100px;

width: 300px;


}

.add{

height: 30px;

color: green;
background-color: white;
border-color: green;
border-style: solid;

}

.remove{

height: 30px;

color: green;
background-color: white;
border-color: green;
border-style: solid;
}


.names{


    width: 300px;
}


.product-quantitys{



    background-color: yellow;
    height: 30px;
    border: green 2px solid;

    width: 30px;
}

.details{


height: 1px;

}

.buttons{


    display: flex;

    flex-direction: row;
}